.con{
    text-align: center;
}
.crud_h1{
    font-size: 40px;
    font-weight: 700;
}
.input_name{
    width: 250px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #000;
}
.input_email{
    margin-top: 22px;
    width: 250px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #000;
}
.main_btn{
    width: 160px;
    height: 35px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
}
.form_div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.edit_btn{
    width: 60px;
    border-radius: 15px;
    background-color: forestgreen;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.delete_btn{
    width: 60px;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin: 0px 8px;
}